@model  List<ListOfHouseHoldViewModel>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of houseHold</h6>
        @if (TempData["Message"] != null)
        {
            <div class="text-danger">@TempData["Message"]</div>
        }
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered display-5" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>#User</th>
                            <th>Invite user</th>
                            <th>Edit</th>
                            <th>Leave</th>
                            <th>Del</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var ele in Model)
                        {
                            <tr>
                                <td> <a href="@Url.Action("DetailOfHouseHold", "HouseHold", new {id =ele.Id})">@ele.Id</a></td>
                                <td> <a href="@Url.Action("DetailOfHouseHold", "HouseHold", new {id =ele.Id})">@ele.Name</a></td>
                                <td>@ele.Description</td>
                                <td class="text-center">
                                    <a href="@Url.Action("UsersOfHouseHold", "HouseHold", new {id =ele.Id})"> @ele.NumberOfMember </a>
                                </td>
                                <td class="text-center">
                                    @if (ele.IsOwner)
                                    {
                                        <a href="@Url.Action("InviteUser", "HouseHold", new {id =ele.Id})"> <button><i class="fas fa-user-plus"></i></button> </a>

                                    }
                                </td>

                                <td class="text-center">
                                    @if (ele.IsOwner)
                                    {
                                        <a href="@Url.Action("EditHouseHold", "HouseHold", new {id =ele.Id})"><button><i class="fas fa-edit"></i> </button>  </a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!ele.IsOwner)
                                    {
                                        <form method="post" action="@Url.Action("LeaveHousehold", "HouseHold", new {id =ele.Id})">
                                            <button type="submit"><i class="fas fa-sign-out-alt"></i></button>

                                        </form>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (ele.IsOwner)
                                    {
                                        <a href="#" class="" onclick="ConfirmDeleteHouseHold(@ele.Id)"> <button><i class="fas fa-trash-alt"></i></button></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!-- DeleteHouseHold Modal-->
<input type="hidden" id="hiddenHouseHoldId" />
<div class="modal fade" id="DeleteHouseHoldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to delete houseHold?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Delete" below if you are ready to delete your houseHold.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-danger" onclick="DeleteHouseHold()">Delete</a>
            </div>
        </div>
    </div>
</div>


<script>

    var ConfirmDeleteHouseHold = function (houseHoldId) {
        $("#hiddenHouseHoldId").val(houseHoldId);
        $("#DeleteHouseHoldModal").modal("show");
    }

    var DeleteHouseHold = function () {
        var houseHoldId = $("#hiddenHouseHoldId").val();
        $.ajax({
            type: "Post",
            url: "/HouseHold/DeleteHouseHold",
            data: { id: houseHoldId },
            success: function () {
                $("#DeleteHouseHoldModal").modal("hide");
                window.location.reload();
            }
        })
    }

</script>




